body, h2, p{
  margin: 0;
  padding:0

}
body{
  background-color: blueviolet;
   padding: 3em;
}
header img{
  width:14%;
}
main{
 margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
main img{
  width: 50%;
}
.content{
  width: 40%;
  padding-top: 2em;
}
.content h2{
  font-size: 45px;
  color: white;
}
.content p{
  font-size: 15px;
  color: white;
  margin: 2em 0em;
}
main button{
  padding: 1em;
  border: none;
  border-radius: 30px;
  color: purple;
  background-color: white;
  width: 40%;
}
footer{
  float: right;
  margin-right: 10px;

}
.fab{
  padding:7px ;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 10px;
  color: white;
}
